


        <div class="connect-box" >
          <h4>${properties.highlightedtext}</h4>
          <span class="connect-highlight" >${properties.subhead}</span>
          <p>${properties.para}</p>
          <!-- mp_trans_remove_start -->
          <a href="${properties.buttonlink}" target="_blank"  class="bcbs-button">${properties.button}</a>
          <!-- mp_trans_remove_end --><!-- mp_trans_disable_start --><!-- mp_trans_add
          <a href="${properties.buttonlink}" target="_blank" class="bcbs-button">${properties.button}</a>
          --><!-- mp_trans_disable_end -->
          </div>
