


<body class="homepage">
 <!--ls:begin[body]-->
 <div class="ls-canvas" id="ls-canvas">
 <div class="ls-row no-overflow" id="ls-row-1">
 <div class="ls-fxr">
 <div class="ls-col">
 <div class="ls-col-body">
 <div class="ls-row" id="main" style="padding: 0;
			width: 100% !important;">
<div class="ls-fxr">
<div class="ls-col">
 <div class="ls-col-body">





<!--/*header*/-->
<sly data-sly-resource="${'/content/bcbsil-site/utils/header/jcr:content/par/header' @ wcmmode='disabled'}" />
<!--/*	<sly data-sly-resource="${'/content/bcbsil-site/utils/header/jcr:content/par/header' @ resourceType='/apps/bcbsil/components/content/header'}"/>
*/-->
<!--/*header*/-->

<!--/*body*/-->

	<sly data-sly-include="body.html"/>

<!--/*body*/-->

<!--/*footer*/-->
<sly data-sly-resource="${'/content/bcbsil-site/utils/footer/jcr:content/par/footer' @ wcmmode='disabled'}" />
<!--/*	<sly data-sly-resource="${'/content/bcbsil/en/footer/jcr:content/par/footer' @ resourceType='/apps/bcbsil/components/content/footer'}"/>
*/-->
<!--/*footer*/-->






</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>





</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
</div>
<!--ls:end[body]-->
</body>
