<div data-sly-use.links="com.bcbsil.core.TwoMultiComponent" data-sly-unwrap> </div>
<div class="ls-cmp-wrap" id="w1440932861678">
<div class="iw_component" id="1440932861678">
<div>
    <article class="quick-links">
        <blockquote>
            <span class="q-links-title">${properties.menutitle}</span>
            <ul>
                <div data-sly-list.head="${links.MultiFieldItems}" data-sly-unwrap>
                <li><a href="${head.link}" target="_blank">${head.title}</a></li>
            </ul>
    	</blockquote>
	</article>
</div>
</div>
</div>