
<div class="ls-row row" id="pageBody">
<div class="ls-fxr" id="ls-gen45870297-ls-fxr">
<div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-2-col-1">
<div class="ls-col-body" id="ls-gen45870298-ls-col-body">
<div class="ls-row" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1">
<div class="ls-fxr" id="ls-gen45870299-ls-fxr">
<div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1-col-1">
<div class="ls-col-body" id="ls-gen45870300-ls-col-body">
<div class="ls-row large-3 columns" id="colLft">
<div class="ls-fxr" id="ls-gen45870301-ls-fxr">
<div class="ls-area" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1-col-1-row-1-area-1">
<div class="ls-area-body" id="ls-gen45870302-ls-area-body">


<sly data-sly-resource="${'menubar' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></sly>



</div>
</div>


<div class="ls-row-clr">
</div>
</div>
</div>
<div class="ls-row large-9 columns" id="mainContent" style="
    padding-left: 15px;
">
<div class="ls-fxr">
<div class="ls-area">
<div class="ls-area-body">
<div class="ls-cmp-wrap ls-1st">
<div class="iw_component">
<div><a name="maincontent"> </a> </div>
</div>
</div>
<div class="ls-cmp-wrap">
<div class="iw_component">
<div>
<p></p><main class="landing">
  <section class="btm-margin">
    <div class="row">
      <div class="large-8 columns rt-padding-desktop">
		<div style="padding-left: 15px;height: 273px;width: 520px;">
        <div data-sly-resource="${'leftcolumn' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
		</div>
      </div>
      <div class="large-4 columns">

        <div data-sly-resource="${'rightcolumn' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

      </div>
    </div>
  </section>
  <section class="btm-margin">
    <div class="row">
      <div class="large-12 columns">
        <article class="landing-box">

			

        <div data-sly-resource="${'leftlanding' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

        </article>
        <article class="landing-box">



        <div data-sly-resource="${'rightlanding' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>

        </article>
      </div>
    </div>
  </section>
<div data-sly-resource="${'page' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
</main>
<p></p>

</div>
</div>
</div>
</div>
</div>
<div class="ls-row-clr">
</div>
</div>
</div>
</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
</div>
</div>
<div class="ls-row-clr">
</div>
</div>
</div>