
<div id="box-1" class="ib-bx1" style="padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
<img src="${properties.img}" style="height: 278px;"/>
          <div class="box-text-content"><a class="provFinder link-block">
    		<h1><span class="block-text">${properties.text1}</span>
<span class="block-text">${properties.text2}</span><span><strong>${properties.text3}<sup>${properties.sup}</sup></strong></span>
<span>${properties.text4}</span></h1>
            </a>
		  </div>   
</div>
<div class="box-text-screen"></div>
