

 <section class="btm-margin">
    <div class="row">
      <div class="large-12 columns">
        <article class="landing-image-box">
          <figure><img src="${properties.image}" width="173" height="141" border="0" alt="${properties.alttext}"></figure>
          <div class="image-box-text">
            <h3><a href="${properties.link}" target="_blank">${properties.text1} <span class="blue-text">${properties.text2}</span></a></h3>
            <p> ${properties.para}</p>
          </div>
        </article>
      </div>
    </div>
  </section>