<div id="shop-assistance" class="section-container tabs" data-section="tabs" data-section-resized="true" style="min-height: 41px;">
  <section class="active" style="padding-top: 40px;">
    <p class="title" data-section-title="" style="left: 0px; height: 41px;"><a href="#tab-one" aria-controls="tab-one"><span class="sr-only">Tab One </span><span class="block-for-medium">Chat</span> Now</a></p>
    <div id="tab-one" class="content" data-section-content="">
<span class="sr-only">Tab pannel</span>

      <div class="lg-chat-online">
        <div class="lg-info">
          <h3>Chat with us Online</h3>
          <p class="disclaimer">Powered by Salesforce</p>
          
          
          
          <p>We can answer your questions and help you enroll.</p>


<p class="chathours">Agents are available:<br>
         Monday - Friday, 8am - 8pm CT<br>
          Saturday, 8am - 6pm CT<br>
          Sunday, 10am - 6pm CT</p>

      
        
              <div id="liveagent_button_online_57338000000Gn0p" style="display: none;">
              <form name="lg-chat" action="https://www.bcbsil.com/insurance-basics#" method="get" role="form">
        <label for="under65"><input name="under65" id="under65" type="checkbox" aria-checked="false" class="hidden-field"><span class="custom checkbox"></span>
        I'm under the age of 65 and not Medicare eligible </label>
        <p id="over65-error" class="red" role="alert" aria-atomic="true">If you are age 65 or over, call our sales office at 1-877-592-3875. Our sales office is open 8am - 8pm, 7 days a week.</p>
                    <a class="chat-btn inactive"><span class="chat-icon">Chat with an Agent</span></a>
              </form>
              </div>
              <div id="liveagent_button_offline_57338000000Gn0p">
              <p id="not-avail-msg" class="red">Our agents are not available at this time. Please try again later during normal business hours. </p>
              <a class="chat-btn inactive"><span class="chat-icon">Chat with an Agent</span></a>
              </div>

               
          
          
          <p class="footnote">By clicking this link, you will be directed to a website or application hosted by a vendor, an independent company contracted with BCBSIL or a subcontractor of the vendor. These vendors may have their own Terms of Use and/or Privacy Statement.</p>

<span class="sr-only">Tab pannel ends. Press down arrow or tab to move to the next tab</span>
        </div>
      </div>
    </div>
  </section>
  <section style="padding-top: 40px;">
    <p class="title" data-section-title="" style="left: 85px; height: 41px;"><a href="#tab-two" aria-controls="tab-two"><span class="sr-only">Tab Two </span><span class="block-for-medium">Ask</span> Question</a></p>
    <div id="tab-two" class="content" data-section-content="">
<span class="sr-only">Tab pannel</span>

      <div class="lead-gen_container">
        <div class="lead-gen main">
          <div class="lg-ask-sales">
            <div class="lg-info">
              <form id="lg-ask-sales" class="EMAsubmit" name="lg-ask-sales" method="get" autocomplete="on" role="form" data-h5-instanceid="0" novalidate="novalidate">
                <h3>Ask a sales question</h3>
                <p>Please fill out the form below and a licensed agent will contact you to help answer your questions.</p>
                <input type="hidden" value="Ask a Sales Question" name="EventType">
                <input type="hidden" value="Lead Gen" name="LeadSource">
                <input type="hidden" value="hcscGeneralAskAQuestion" name="CampaignID">
                <input type="hidden" value="Under65" name="ProductLine">
                <input type="hidden" value="English" name="OralLanguage">
                <input type="hidden" value="English" name="WrittenLanguage">
                <input type="hidden" value="English" name="LanguagePreference">
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="SQ-FirstName">First Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="SQ-FirstName" class="h5-alphaNumericSpace" name="FirstName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid first name</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="SQ-LastName">Last Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="SQ-LastName" class="h5-alphaNumericSpace" name="LastName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid last name</span> </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <p>How would you prefer to be contacted?</p>
                  </div>
                </div>
                <div class="row">  
                  <fieldset class="flyout-fieldset" role="radiogroup" aria-required="true">
                    <div class="small-6 large-4 columns">
                      <legend class="flyout">Language Preference<span class="required">*</span></legend>
                      <input type="radio" name="CommunicationPreference" id="radiosContact2" value="Phone" aria-checked="true" checked="">
                      <label for="radiosContact2">Phone</label>
                    </div>
                    <div class="small-6 large-8 columns">
                      <input type="radio" name="CommunicationPreference" id="radiosContact1" aria-checked="false" value="Email">
                      <label for="radiosContact1">Email</label>
                    </div>
                  </fieldset>    
                </div>
                <div class="row hide4email">
                  <div class="small-12 large-3 columns">
                    <label for="SQ-PrimaryPhone">Phone<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="SQ-PrimaryPhone" class="phoneNumber h5-phone" name="PrimaryPhone" type="text" placeholder="123-456-7890" aria-required="true" required="" pattern="^(?:\(\d{3}\)|\d{3})(?: *- *)?\d{3}(?: *- *)?\d{4}$">
                    <span class="errors" role="alert">Please enter a valid phone number</span> </div>
                </div>
                <div class="row hide4phone">
                  <div class="small-12 large-3 columns">
                    <label for="SQ-PrimaryEmail">Email Address<span class="required hidden">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="SQ-PrimaryEmail" class="emailAddress h5-email" name="PrimaryEmail" type="email" placeholder="username@domain.ext" pattern="[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9]){1}?">
                  <span class="errors" role="alert">Please enter a valid email address</span> </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <label for="SQ-CallNature">The nature of your question<span class="required">*</span></label>
                    <textarea id="SQ-CallNature" class="sales-question" name="CallNature" type="text" maxlength="50" aria-required="true" required=""></textarea>
                    <span class="errors" role="alert">Please enter a question</span>
                    <p><span class="remaining-characters">50</span>characters remaining</p>
                  </div>
                </div>
                <div class="row">
                	<div class="large-12 columns">
                    <p><em>You must be at least 18 years old to submit a request.</em></p>
                  	</div>
                </div>
                <div class="row submit">
                  <div class="large-12 text-right columns">
                    <button id="asksalesSubmit" class="button button-blue">Submit</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
          <!--end lg-ask-sales-->
          
          <div id="lg-ask-salesty" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold green">Thank you!</p>
              <p>Your information has been received.</p>

            </div>
          </div>
          <div id="lg-ask-salesem" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold red">Sorry!</p>
              <p role="alert">There has been an error with your submission.</p>
            </div>
          </div>
        </div>
      </div>            
      <!--end lead-gen_container--> 
      <span class="sr-only">Tab pannel ends. Press down arrow or tab to move to the next tab</span>
    </div>
  </section>
  <section style="padding-top: 40px;">
    <p class="title" data-section-title="" style="left: 194px; height: 41px;"><a href="#tab-two" aria-controls="tab-three"><span class="sr-only">Tab Three </span><span class="block-for-medium">Request</span> Brochure</a></p>
    <div id="tab-three" class="content" data-section-content="">

<span class="sr-only">Tab pannel</span>

      <div class="lead-gen_container">
        <div class="lead-gen main">
          <div class="lg-request-brochure">
            <div class="lg-info">
              <form id="lg-request-brochure" class="EMAsubmit" name="lg-request-brochure" method="post" role="form" data-h5-instanceid="0" novalidate="novalidate">
                <h3>Request a Brochure</h3>
                <p>Please fill out the form below and we will send you information about our health insurance plans.</p>
                <input type="hidden" value="Request Brochure" name="EventType">
                <input type="hidden" value="Lead Gen" name="LeadSource">
                <input type="hidden" value="hcscGeneralRequestABrochure" name="CampaignID">
                <input type="hidden" value="Under65" name="ProductLine">
                <input type="hidden" value="English" name="OralLanguage">
                <input type="hidden" value="English" name="WrittenLanguage">
                <input type="hidden" value="English" name="LanguagePreference">
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="selectedBrochure">Select a Brochure<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <select id="selectedBrochure" name="FollowUp" class="medium" aria-required="true" required="">
                      <option value="Major Medical Plans" selected="selected">Major Medical Plans</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RaB-FirstName">First Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RaB-FirstName" class="h5-alphaNumericSpace" name="FirstName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid first name</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RaB-LastName">Last Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RaB-LastName" class="h5-alphaNumericSpace" name="LastName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid last name</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RaB-PrimaryEmail">Email Address<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RaB-PrimaryEmail" class="h5-email" name="PrimaryEmail" type="email" placeholder="username@domain.ext" aria-required="true" required="" pattern="[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9]){1}?">
                    <span class="errors" role="alert">Please enter a valid email address</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RaB-PrimaryPhone">Phone Number</label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RaB-PrimaryPhone" class="h5-phone" name="PrimaryPhone" type="text" placeholder="123-456-7890" pattern="^(?:\(\d{3}\)|\d{3})(?: *- *)?\d{3}(?: *- *)?\d{4}$">
                    <span class="errors" role="alert">Please enter a valid phone number</span> </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                  
                  
                <p>If you provide a phone number, an agent may call you to make sure that you received the information and to answer any questions that you might have.</p>
                
                <p><em>You must be at least 18 years old to submit a request.</em></p>
                </div>
                </div>
                <div class="row submit">
                  <div class="large-12 text-right columns">
                    <button id="requestbrochureSubmit" class="button button-blue">Submit</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
          <!--end lg-request-brochure-->
          <div id="lg-request-brochurety" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold green">Thank you!</p>
              <p>Your information has been received.</p>
            </div>
          </div>
          <div id="lg-request-brochureem" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold red">Sorry!</p>
              <p role="alert">There has been an error with your submission.</p>
            </div>
          </div>
        </div>
        
      </div>
      <!--end lead-gen_container--> 
      <span class="sr-only">Tab pannel ends. Press down arrow or tab to move to the next tab</span>
    </div>
  </section>
  <section style="padding-top: 40px;">
    <p class="title" data-section-title="" style="left: 331px; height: 41px;"><a href="#tab-three" aria-controls="tab-four"><span class="sr-only">Tab Four </span><span class="block-for-medium">Request</span> Agent</a></p>
    <div id="tab-four" class="content" data-section-content="">
<span class="sr-only">Tab pannel</span>


      <div class="lead-gen_container">
        <div class="lead-gen main">
          <div class="lg-request-agent">
            <div class="lg-info">
              <form id="lg-request-agent" class="EMAsubmit" name="lg-request-agent" method="post" role="form" data-h5-instanceid="0" novalidate="novalidate">
                <h3>Online Agent Request Form</h3>
                <p>Please fill out the form below and a Blue Cross and Blue Shield of Illinois authorized agent will contact you within 1 to 2 business days. They will schedule an appointment at a time and location that is convenient for you. There is no cost or obligation for this service.</p>
                <input type="hidden" value="Request Agent Visit" name="EventType">
                <input type="hidden" value="Lead Gen" name="LeadSource">
                <input type="hidden" value="hcscGeneralRequestAgentVisit" name="CampaignID">
                <input type="hidden" value="English" name="OralLanguage">
                <input type="hidden" value="English" name="WrittenLanguage">
                <input type="hidden" value="English" name="LanguagePreference">
                
                <fieldset class="no-frame">
                
                <legend>Please select the product you are interested in</legend>
                
                
                <div class="radios" role="radiogroup" aria-required="true">
                  <div class="row">
                    <div class="small-12 columns">
                      <input type="radio" name="ProductLine" id="radiosSelectProduct1" value="Under65" aria-checked="true" checked="">
                      <label for="radiosSelectProduct1">Individual and Family Products</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns">
                      <input type="radio" name="ProductLine" id="radiosSelectProduct2" aria-checked="false" value="Over65">
                      <label for="radiosSelectProduct2">Medicare Plan Options (Medicare Advantage, Medicare Supplement, Part D)</label>
                    </div>
                  </div>
                </div>
                </fieldset>
                
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RA-FirstName">First Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RA-FirstName" class="h5-alphaNumericSpace" name="FirstName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid first name</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RA-LastName">Last Name<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RA-LastName" class="h5-alphaNumericSpace" name="LastName" type="text" aria-required="true" required="" pattern="^[a-zA-Z0-9 ,.&#39;-]+">
                    <span class="errors" role="alert">Please enter a valid last name</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RA-PrimaryEmail">Email Address<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RA-PrimaryEmail" class="h5-email" name="PrimaryEmail" type="text" placeholder="username@domain.ext" aria-required="true" required="" pattern="[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&amp;&#39;*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9]){1}?">
                    <span class="errors" role="alert">Please enter a valid email address</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RA-DateofBirth">Date of Birth<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RA-DateofBirth" name="DateofBirth" class="dob h5-dateofbirthMDY" type="text" placeholder="MM/DD/YYYY" title="MM/DD/YYYY" required="" pattern="(0[1-9]|1[012])[\/](0[1-9]|[12][0-9]|3[01])[\/](19|20)\d\d">
                    <span class="errors" role="alert">Please enter a valid date of birth (MM/DD/YYYY)</span> </div>
                </div>
                <div class="row">
                  <div class="small-3 large-3 columns">
                    <label for="RA-City">City<span class="required">*</span></label>
                  </div>
                  <div class="small-3 large-3 columns">
                    <input id="RA-City" class="h5-alphaSpace" name="City" type="text" aria-required="true" required="" pattern="^[a-zA-Z ,.&#39;-]+$">
                    <span class="errors" role="alert">Please enter a valid city</span> </div>
                  <div class="small-3 large-3 columns">
                    <label for="State">State<span class="required">*</span></label>
                  </div>
                  <div class="small-3 large-3 columns">
                    <select id="State" name="State" aria-required="true" required="">
                      <option value="IL" selected="selected">IL</option>
                      <option value="MT">MT</option>
                      <option value="NM">NM</option>
                      <option value="OK">OK</option>
                      <option value="TX">TX</option>
                    </select>
                    <span class="errors" role="alert">Please select a state</span> </div>
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="zip-value">Zip Code<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="zip-value" name="ZipCode" class="zipCode h5-zipCode" type="text" maxlength="5" aria-required="true" required="" pattern="^\d{5}(?:[-\s]\d{4})?$">
                    <span class="errors" role="alert">Please enter a valid zip code</span> </div>
                 
                </div>
                <div class="row">
                  <div class="small-12 large-3 columns">
                    <label for="RA-PrimaryPhone">Phone<span class="required">*</span></label>
                  </div>
                  <div class="small-12 large-9 columns">
                    <input id="RA-PrimaryPhone" name="PrimaryPhone" class="phoneNumber h5-phone" type="text" placeholder="1234567890" aria-required="true" maxlength="10" required="" pattern="^(?:\(\d{3}\)|\d{3})(?: *- *)?\d{3}(?: *- *)?\d{4}$">
                    <span class="errors" role="alert">Please enter a valid phone number</span> </div>
                </div>
                <div class="row">
                <div class="large-12 columns">
                    <p><em>You must be at least 18 years old to submit a request.</em></p>
                  </div>
                </div>
                <div class="row submit">
                  <div class="large-12 text-right columns">
                    <button id="requestAgentSubmit" class="button button-blue">Submit</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
          <!--end lg-request-agent-->
          
          <div id="lg-request-agentty" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold green">Thank you!</p>
              <p>Your information has been received.</p>
            </div>
          </div>
          <div id="lg-request-agentem" class="hidden-msg">
            <div class="lg-info" aria-live="polite">
              <p class="lg-bold red">Sorry!</p>
              <p role="alert">There has been an error with your submission.</p>
            </div>
          </div>
        </div>
      </div>
      <!--end lead-gen_container--> 
     <span class="sr-only">Tab pannel ends. Press down arrow or tab to move to the next tab</span> 
    </div>
  </section>
  <section style="padding-top: 40px;">
    <p class="title" data-section-title="" style="left: 448px; height: 41px;"><a href="#tab-four" aria-controls="tab-five"><span class="sr-only">Tab Five </span><span class="block-for-medium">Call</span> Us</a></p>
    <div id="tab-five" class="content" data-section-content="">
<span class="sr-only">Tab pannel</span>

<div id="call-us-content">
      <h3>Need Assistance Shopping?</h3>
      
      <p><em>Sales Questions and Additional Plan Information:</em><br>
      <a href="tel:1-866-514-8044" class="phone">1-866-514-8044</a></p>
      
      <p>Monday – Friday, 8am – 8pm CT<br>
        Saturday, 8am – 6pm CT<br>
        Sunday, 10am – 6pm CT</p>
        
        
      <p><em>Customer Service:</em><br>
      <a href="tel:1-800-538-8833" class="phone">1-800-538-8833</a></p>
      
      <p>Monday – Friday, 7am – 8pm CT<br>
        Saturday, 8am – 5pm CT<br>
        Sunday, Closed</p>  
        
      <p>Already a member?<br>
Call the customer service number on the back of your member ID card.
</p>  </div>
    <span class="sr-only">Tab pannel ends. </span>  
    </div>
  </section>
</div>