


        <div id="m2" class="box-container">

            <div id="s-fournew" class="il">
                <div class="header-content">
					<a href="${properties.rightimglnk1}" class="link-block">
					<h3>${properties.text1}<br>${properties.text2}</h3>
                    </a>
                </div>
                <div class="box-hover-screen"></div>           
            </div>

            

            <div id="s-fivenew" class="il">
                <div class="header-content">
                    <a class="provFinder link-block" href="${properties.rightimglnk2}" aria-label="Find a Doctor with Provider Finder">
					<h3>${properties.text3}</h3>
                    </a>               
                </div>
                <div class="box-hover-screen"></div>	
            </div>

        </div><div id="p2"></div>
	<div id="l2" class="box-container">
                <div class="box-left-column">
                    <div id="s-sixnew">
                        <div class="content">

<h3>${properties.text7}</h3>

<a href="${properties.link}" target="_blank"><p style="padding-bottom:8px; ">${properties.linktitle}</p></a>

			</div>
                    </div>
                </div>




                <div class="box-right-column">

                    <div id="">

                        <a id="s-sevennew" class="il" href="#">

<img src="${properties.img}" alt="" width="39" height="42">

<h3><span class="block-mobile-only">${properties.text4}<br><span style="font-size:16px;">${properties.text5}</span> ${properties.text6}</span></h3>


                        </a>
                    </div>

                    <div id="">

                        <a id="s-eightnew" class="il" href="#">

<img src="${properties.img1}" alt="">
<h3>${properties.text8}</h3>

                        </a>
                    </div>

                    
                    

                </div>
            </div>
